#cabecalho {
  background-color: white;
  color: red;
}

.pd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.produto img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

body {
  background-color: grey;
}

p {
  font-family: Arial;
}
